.DS_Store

.idea
.vscode

# output files
**/*.o
**/*.a

sim/htsim
sim/htsim_dumbell_cc
sim/htsim_dumbell_ndptunnel
sim/parse_output

sim/datacenter/htsim_dctcp_incast_collateral
sim/datacenter/htsim_dctcp_incast_collateral_lossless
sim/datacenter/htsim_dctcp_incast_shortflows
sim/datacenter/htsim_dctcp_oversubscribed
sim/datacenter/htsim_dctcp_perm_shortflows
sim/datacenter/htsim_dctcp_perm_shortflows_lossless
sim/datacenter/htsim_dctcp_permutation
sim/datacenter/htsim_dctcp_permutation_lossless
sim/datacenter/htsim_dctcp_random_shortflows
sim/datacenter/htsim_dctcp_random_shortflows_lossless

sim/datacenter/htsim_ndp
sim/datacenter/htsim_ndp_in_out
sim/datacenter/htsim_ndp_incast
sim/datacenter/htsim_ndp_incast_collateral
sim/datacenter/htsim_ndp_incast_shortflows
sim/datacenter/htsim_ndp_incast_shortflows_lossless
sim/datacenter/htsim_ndp_outcast
sim/datacenter/htsim_ndp_outcast_shortflows
sim/datacenter/htsim_ndp_oversubscribed
sim/datacenter/htsim_ndp_perm_shortflows
sim/datacenter/htsim_ndp_permutation
sim/datacenter/htsim_ndp_permutation_fail
sim/datacenter/htsim_ndp_permutation_lossless
sim/datacenter/htsim_ndp_random
sim/datacenter/htsim_ndp_random_shortflows

sim/datacenter/htsim_ndptunnel_incast_shortflows
sim/datacenter/htsim_ndptunnel_permutation

sim/datacenter/htsim_tcp
sim/datacenter/htsim_tcp_incast_shortflows
sim/datacenter/htsim_tcp_perm_shortflows
sim/datacenter/htsim_tcp_permutation

sim/datacenter/htsim_ndp_incast_shortflows_offload

sim/EXAMPLES/incast_scaling/incast_ndp_completion_times_*
sim/EXAMPLES/incast_scaling/ts_incast*
sim/EXAMPLES/incast_scaling/bounces*

sim/EXAMPLES/incast_scaling_nack_offload/incast_ndp_completion_times_*
sim/EXAMPLES/incast_scaling_nack_offload/ts_incast*
sim/EXAMPLES/incast_scaling_nack_offload/bounces*

# project documentation
SPECIFICATION.md

